{% extends 'admin/admin.html.twig' %}

{% block title "Modifier le pays : " ~ country.name  %}


{% block body %}

   <h1>Modifier le pays : {{country.name }}</h1>

  

   {{ form (form) }}


 

 {% endblock %}
 