# Ignorer les fichiers de configuration de l'environnement
.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/AtypikHouse.code-workspace
###< symfony/framework-bundle ###

# Ignorer les secrets de production
/config/secrets/prod/prod.decrypt.private.php

# Ignorer les dépendances installées par Composer
/vendor/
/composer.lock

# Ignorer les fichiers et répertoires de cache et de logs
/var/
/var/cache/
/var/log/

# Ignorer les fichiers spécifiques à PHPUnit
.phpunit.result.cache
/phpunit.xml

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
git
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
# Ignorer les fichiers spécifiques à l'IDE
.vscode/
.atypikhousebd.sql

/node_modules
