# Ignorer les fichiers de configuration de l'environnement
.env
/.env.local
/.env.local.php
/.env.*.local

# Ignorer les secrets de production
/config/secrets/prod/prod.decrypt.private.php

# Ignorer les dépendances installées par Composer
/vendor/
/composer.lock

# Ignorer les fichiers et répertoires de cache et de logs
/var/
/var/cache/
/var/log/

# Ignorer les fichiers spécifiques à PHPUnit
.phpunit.result.cache
/phpunit.xml

# Ignorer les fichiers spécifiques à l'IDE
.vscode/
