<h1>Hi! Please confirm your email!</h1>

<p>
    Confimez votre adresse email en cliquant sur ce lien s'il vous plaît: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
