{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <form method="post" action="{{ path('registration') }}">
        {{ form_widget(form) }}
    </form>
{% endblock %}
