{% extends 'admin/admin.html.twig' %}

{% block title "Modifier la ville : " ~ city.name  %}


{% block body %}

   <h1>Modifier la ville : {{city.name }}</h1>

  

   {{ form (form) }}


 

 {% endblock %}
 